/*CSS Página 1*/

.Total-scream1 {
  align-items: center;
  display: flex;
  height: auto;
  min-height: 118vh;
}

.Div-Left {
  align-items: center;
  border-radius: 12px 0px 0px 12px;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  min-height: 115vh;
  width: 50vw;
}

.imageContainer {
  height: 200px;
  width: 200px;
}

.Div-Right {
  align-items: center;
  border-radius: 0px 12px 12px 0px;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  min-height: 115vh;
  width: 50vw;
}

.Div-Right h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-top: -8%;
}

.Div-Right h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-bottom: 8%;
  margin-top: -15px;
}

input {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  margin: 20px;
  padding: 4px;
  width: 72%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

label {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 1px;
  justify-content: flex-start;
  width: 70%;
}

.CheckBox {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-direction: row-reverse;
  margin-top: 15px;
  margin-inline: -53%;
  width: 100%;
}

button {
  align-self: center;
  display: flexbox;
  margin-top: 11%;
  padding: 7px;
  width: 72%;
}

.noWhere {
  margin-top: 10px;
  font-size: 10px;
  text-decoration: underline;
}
