.Total-scream1 {
  background-color: #dfd8d8da;
}

.Total-scream2 {
  background-color: #dfd8d8da;
}

.Schedule {
  background-color: azure;
}

.header {
  background-color: #15ddbc;
}

.Div-Left {
  background: linear-gradient(to left, #0CD5F6, #16EAA9 99%);
}

.Div-Right {
  background-color: #060314;
  color: #b3aba0;
}

.Div-Right h6 {
  color: #09bb94;
}

.Birthday {
  color: #b3aba0b4;
}

button {
  background-color: #16eac7;
}

.noWhere {
  color: #b3aba0;
}